VITE_SUPABASE_URL=https://jwaalnvsawqfkokphach.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp3YWFsbnZzYXdxZmtva3BoYWNoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkxODUzNDEsImV4cCI6MjEwNDc2MTM0MX0.pHEMNtq_STqRIfK6LX1r59EFnkDcBi7wYV2VzqOG-tA
